<form>
  <div class="form-group">
    <label for="type" class="control-label">Type</label><br>
    <label class="radio-inline"><input type="radio" value="credit" name="account-radio" checked="checked"><strong>&nbsp;Credit</strong></label> 
    <label class="radio-inline"><input type="radio" value="debit" name="account-radio"><strong>&nbsp;Debit</strong></label>         
    <span class="help-block hidden"></span>
  </div>     

  <div class="form-group">
    <label for="amount" class="control-label">Amount</label>
    <input class="form-control" type="number" id="amount_input" name="amount" placeholder="Enter Amount...">
    <span class="help-block hidden"></span>
  </div> 
  
  <button class='btn btn-primary submit'>Credit</button>
</form>